<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accounts_list.css') }}">
    <link rel="stylesheet" href="accounts_list.css">
    <title>Accounts List</title>
    
</head>
<body class="body">
    <div class="header">
        <div class="header_left"></div>
        <div class="center_header">
            <p>Users management</p>
        </div>
        <div class="header_right"></div>
    </div>
    <div class="bottom">
        <div class="bottom_left"></div>
        <div class="bottom_center">
            <p></p>
        </div>
        <div class="bottom_right"></div>
    </div>
    <div class="list">
        <div class="accounts_list">
            <div class="column">
                <p class="column_name">Users</p>
                <p class="column_name">Id</p>
                <p class="column_name">Username</p>
                <p class="column_name">Email</p>
                <p class="column_name">Password </p> 
                <p class="column_name">Gender</p>
                <p class="column_name">Date Joined</p>
            </div>
            <div class="users_section">
                
                {% for account_list in accounts_list %}

                    <div class="users_column">
                        <img class="image" src="{{ url_for('static', filename='users_image/' +  account_list.profile_pic) }}" alt="">
                    </div>
                    <div class="id_column">
                        <p class="id">{{ account_list.id_created }}</p>
                    </div>
                    <div class="name_column">
                        <p class="name">{{ account_list.name }}</p>
                    </div>
                    <div class="email_column">
                        <p class="email">{{ account_list.email }}</p>
                    </div>
                    <div class="password_column">
                        <p class="password">{{ account_list.password }}</p>
                    </div>
                    <div class="gender_column">
                        <p class="gender">{{ account_list.gender }}</p>
                    </div>
                    <div class="date_joined_column">
                        <p class="date_joined"> {{ account_list.date_joined }} </p>
                    </div>
                {% endfor %}
            </div>
               
        </div>

    </div>
</body>
</html>